.form {
    &__title {
        margin-bottom: 0.625rem;
    }
    &__field {
        width: 100%;
        outline: 0;
        border: 0;
        @include border-default($form-field-border-color);
        padding: 1rem;
        margin-bottom: 1.25rem;
    }
    &__btn {
        @include btn;
        border: 0;
    }
}