/*--------------------------------------------------------------*\
  #header pages
\*--------------------------------------------------------------*/
.header {
    @include box-shadow;
    background: $color-nero;
    position: absolute;
    z-index: 2;
    width: 100%;
    &__only-home{
        background-color: rgba($color-acadia, 0.5);
    }
    &__skip-nav{
        position: absolute;
        left:-10000px;
        top:auto;
        width:1px;
        height:1px;
        overflow:hidden;
        margin-left: 5px;
        background-color: $color-primary;
        color: $color-white;
        &:focus{
            position: static;
            width:auto;
            height:auto;
            }
    }
    &__center {
        @include layout-container($padding-top: 0, $padding-bottom: 0);
    }
    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 72px;
    }
    &__logo {
        display: flex;
        align-items: center;
        width: 189px;
        height: 47px;
        position: relative;
        z-index: 150;
    }
    &__button-toggle {
        display: flex;
        align-items: center;
        background: transparent;
        cursor: pointer;
        border: 0;
        position: relative;
        z-index: 150;
    }
    &__icon{
        width: 30px;
        height: 30px;
        filter: invert(99%) sepia(71%) saturate(0%) hue-rotate(82deg) brightness(112%) contrast(100%);
    }
    &__hidden-nav {
        display: none;
    }
    &__js-toggle-button .header__hidden-nav {
        display: block;
    }
    &__js-toggle-button .header__display-nav {
        display: none;
    }
    &__js-body-no-scrool{
        overflow: hidden; 
    } 
    @include breakpoints(large) {
        &__center {
            display: flex;
        }
        &__head {
            padding-top: initial;
        }
        &__logo {
            margin-right: 1.25rem;
        }
        &__button-toggle {
            display: none;
        }
    }
}


/*--------------------------------------------------------------*\
  # Blog page content header
\*--------------------------------------------------------------*/
.blog{
    &__article {
        margin-bottom: 3.75rem;
        padding-bottom: 1.75rem;
        box-shadow: 0 1px 0 0 rgba($color-secondary, 10%);
    }
    &__title {
        margin-bottom: 1.25rem;
        font-weight: 600;
    }
    &__auteurs {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1.25rem;
    }
    &__auteur {
        font-size: 0.875rem;
        color: $color-dim-gray;
        margin: 0 0.625rem;
    }
    &__name {
        padding-left: 0.313rem;
        color: $color-dim-gray;
    } 
}



