/**
 * 1. C'est pour que la nav soit au dessus du caroussel(swiper) en tablet et mobile;
 */
.nav{
    position: fixed;
    z-index: 100; /* [1]*/
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $nav-color;
    // transition: $transition;
    transform: translateX(-150%);
    &__main{
       @include space (padding, left, $regular);
       @include space (margin, top, $large);
    }
    &__main-link{
        display: block;
        @include space (padding, bottom, $xs);       
        font-size: $font-size-large;
        color: $nav-main-link;
        line-height: 3.5;
    }
    &__social-links{
        display: flex;
        align-items: center;
        width: 225px;
        margin: auto;
    }
    &__social-link{
        color: $nav-social-link;
        display: block;
        border: 1px solid $nav-social-link-border-color;
        border-radius: 50%;
       @include space (margin, right, 13px);
        width: 40px;
        height: 40px;
        text-align: center;
        transition: $transition;
        @include space (padding, all, 6px);       
    }
    &__show-nav{
        transition: $transition;
        transform: translateX(0);
    }
    @include breakpoints (medium) {
        position: initial;  
        transform: translateX(0);
        display: flex;
        &__main{
            display: flex;    
            flex-grow: 1;
            justify-content: center;
            @include space (padding, left, initial);
            @include space (margin, top, initial);
         }
         &__main-list{
            transition: $transition;
            flex: 1 0 auto;
            
            // &:hover{
            //     // background-color: $nav-main-list-bg-color;
            // }
        }
        &__main-link{
            @include space (padding, left, $xs);       
            @include space (padding, right, $xs);       
            @include space (padding, bottom, initial);   
            font-size: 1.333rem;
            text-align: center;   
            &:hover{
                background-color: $nav-main-list-bg-color;   
            } 
            &:focus{
                color: $color-primary;
                background-color: $nav-main-list-bg-color;
            } 
        }
        &__social-links{
            width: initial;
            margin: initial;
            @include space (margin, left, 50px);       
        }
        &__social-link:hover{
            transform: scale(1.2);      
            color: white;
            background-color: $color-primary;
        }        
    }
}




   
