/**
 * 1. C'est pour que la nav soit au dessus du caroussel(swiper) en tablet et mobile;
 */

.nav {
    position: fixed;
    z-index: 100;
    /* [1]*/
    left: -150%;
    height: 100%;
    width: 100%;
    background-color: $nav-color;
    @include transition($timing-function: cubic-bezier(0,.77,.99,.23));
    @include box-shadow($nav-box-shadow-color);
    &__main {
        padding-left: 2rem;
        margin-top: 2rem;
    }
    &__main-link {
        display: block;
        color: $nav-main-link-color;
        line-height: 3.5;
    }
    &__social-links {
        display: flex;
        align-items: center;
        width: 14.063rem;
        margin: auto;
    }
    &__social-link {
        @include social-link;
        color: $nav-social-link-color;
        @include border-default($nav-social-link-border-color);
        @include border-radius(50%);
    }
    &__js-show-nav {
        left: 0%;
    }
    @include breakpoints(large) {
        position: initial;
        display: flex;
        box-shadow: initial;
        &__main {
            display: flex;
            flex-grow: 1;
            justify-content: center;
            padding-left: initial;
            margin-top: initial;
        }
        &__main-link {
            padding-bottom: initial;
            padding: 0 0.625rem;
            font-size: 1.3rem;
            text-align: center;
            white-space: nowrap;
            &:hover {
                background-color: $nav-main-link-hover-bg-color;
            }
        }
        &__active-main-link {
            background-color: $nav-main-link-bg-color;
            color: $nav-main-link-active-color;
        }
        &__social-links {
            width: initial;
            margin: initial;
            margin-left: 0.5rem;
        }
        &__social-link:hover {
            transform: scale(1.2);
            background-color: $nav-social-link-hover-bg-color;
        }
    }
}