@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: #3d3d3d;
  line-height: 1.5;
}

p {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

/**
 * Le font-size par défaut(mobile et destop) est 16px c'est le meme que celui  
 * des navigateurs donc les paragraphes sont de 16px
 */
body {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.058rem;
}

h2 {
  font-weight: 500;
}

h2 span {
  font-weight: 200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 1.9rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.6rem;
}

/*------------------------------------*\
  #Bouton 
\*------------------------------------*/
.btn {
  padding: 0.5rem 1.125rem;
  font-size: 0.875rem;
  display: inline-block;
  color: white;
  background-color: #e2554b;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0.313rem;
  letter-spacing: 0.1rem;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
.btn:hover {
  background-color: #3d3d3d;
}

/**
 * 1. Dans le partiel typographiy tous les width des images sont à 100% donc
 *    responsives
 */
/*--------------------------------------------------------------*\
  #header pages
\*--------------------------------------------------------------*/
.header {
  box-shadow: 1px 1px 3px rgba(61, 61, 61, 0.1);
}
.header__center {
  max-width: 71.875em;
  margin: auto;
  padding: 0 1.25rem 0;
}
.header__head {
  display: flex;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  min-width: 12.5rem;
  /* [1] */
}
.header__button-toggle {
  display: flex;
  align-items: center;
  background: transparent;
  font-size: 1.5rem;
  cursor: pointer;
  border: 0;
  max-width: 36px;
  max-height: 36px;
}
.header__hidden-nav {
  display: none;
}
.header__js-toggle-button .header__hidden-nav {
  display: block;
}
.header__js-toggle-button .header__display-nav {
  display: none;
}
@media screen and (min-width: 65em) {
  .header__center {
    display: flex;
  }
  .header__head {
    padding-top: initial;
  }
  .header__logo {
    margin-right: 1.25rem;
  }
  .header__button-toggle {
    display: none;
  }
}

/*--------------------------------------------------------------*\
  # Blog page content header
\*--------------------------------------------------------------*/
.blog__article {
  margin-bottom: 3.75rem;
  padding-bottom: 1.75rem;
  box-shadow: 0 1px 0 0 rgba(61, 61, 61, 0.1);
}
.blog__title {
  margin-bottom: 1.25rem;
  font-weight: 600;
}
.blog__auteurs {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-bottom: 1.25rem;
}
.blog__auteur {
  font-size: 0.875rem;
  color: #ababab;
  margin: 0 0.625rem;
}
.blog__name {
  padding-left: 0.313rem;
  color: #ababab;
}

/**
 * 1. C'est pour que la nav soit au dessus du caroussel(swiper) en tablet et mobile;
 */
.nav {
  position: fixed;
  z-index: 100;
  /* [1]*/
  left: -150%;
  height: 100%;
  width: 100%;
  background-color: white;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0, 0.77, 0.99, 0.23);
  box-shadow: 1px 1px 3px #3d3d3d;
}
.nav__main {
  padding-left: 2rem;
  margin-top: 2rem;
}
.nav__main-link {
  display: block;
  color: #3d3d3d;
  line-height: 3.5;
}
.nav__social-links {
  display: flex;
  align-items: center;
  width: 14.063rem;
  margin: auto;
}
.nav__social-link {
  display: block;
  width: 2.25rem;
  height: 2.25rem;
  text-align: center;
  margin-right: 0.625rem;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  padding: 0.375rem;
  color: #e2554b;
  border: 1px solid whitesmoke;
  border-radius: 50%;
}
.nav__js-show-nav {
  left: 0%;
}
@media screen and (min-width: 65em) {
  .nav {
    position: initial;
    display: flex;
    box-shadow: initial;
  }
  .nav__main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding-left: initial;
    margin-top: initial;
  }
  .nav__main-link {
    padding-bottom: initial;
    padding: 0 0.625rem;
    font-size: 1.3rem;
    text-align: center;
    white-space: nowrap;
  }
  .nav__main-link:hover {
    background-color: whitesmoke;
  }
  .nav__active-main-link {
    background-color: whitesmoke;
    color: #e2554b;
  }
  .nav__social-links {
    width: initial;
    margin: initial;
    margin-left: 0.5rem;
  }
  .nav__social-link:hover {
    transform: scale(1.2);
    background-color: whitesmoke;
  }
}

.form__title {
  margin-bottom: 0.625rem;
}
.form__field {
  width: 100%;
  outline: 0;
  border: 0;
  border: 1px solid #e6e6e6;
  padding: 1rem;
  margin-bottom: 1.25rem;
}
.form__btn {
  padding: 0.5rem 1.125rem;
  font-size: 0.875rem;
  display: inline-block;
  color: white;
  background-color: #e2554b;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0.313rem;
  letter-spacing: 0.1rem;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  border: 0;
}
.form__btn:hover {
  background-color: #3d3d3d;
}

.footer {
  background-color: #303030;
}
.footer__center {
  max-width: 71.875em;
  margin: auto;
  padding: 4rem 1.25rem 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__item {
  margin-bottom: 1.875rem;
  padding-right: 0.625rem;
}
.footer__title {
  color: white;
}
.footer__logo {
  display: block;
  background-color: white;
  border-radius: 0.313rem;
}
.footer__social-links {
  display: flex;
  margin-top: 1.563rem;
}
.footer__social-link {
  display: block;
  width: 2.25rem;
  height: 2.25rem;
  text-align: center;
  margin-right: 0.625rem;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  padding: 0.375rem;
  border-radius: 0.313rem;
  color: white;
  background: #3d3d3d;
}
.footer__social-link:hover {
  background-color: #e2554b;
}
.footer__link {
  color: #ababab;
  display: block;
  padding: 0.625rem 0.625rem 0.625rem 0;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
.footer__link:hover {
  color: white;
}
.footer__address {
  color: #ababab;
}
.footer__contact {
  color: #e2554b;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
.footer__contact:hover {
  color: white;
}

.sidebar {
  box-shadow: 1px 1px 3px rgba(61, 61, 61, 0.1);
  padding: 1.25rem;
}
.sidebar__title {
  font-weight: 600;
}
.sidebar__list {
  margin-bottom: 3.125rem;
}
.sidebar__link {
  color: #3d3d3d;
  margin-top: 0.625rem;
  display: block;
}
.sidebar__link:hover {
  color: #e2554b;
}
.sidebar__post {
  display: flex;
  margin-top: 1.25rem;
}
.sidebar__post-img {
  min-width: 5.625rem;
  margin-right: 1.5rem;
}
.sidebar__post-link {
  color: #3d3d3d;
  margin-top: -0.375rem;
  margin-bottom: 0.313rem;
  display: block;
  font-weight: 600;
}
.sidebar__post-link:hover {
  color: #e2554b;
}
.sidebar__time {
  color: #ababab;
}
@media screen and (min-width: 65em) {
  .sidebar {
    box-shadow: initial;
    flex: 0 1 calc(40% - 1.25rem);
    border-left: 1px solid #e6e6e6;
  }
}

/**
* Fait disparaitre la barre de scroll lors d'un clic sur le bouton nav toggle
*/
.body__js-no-croll {
  overflow-y: hidden;
}

/*--------------------------------------------------------------*\
  #Slides swiper
\*--------------------------------------------------------------*/
.slides {
  width: 100%;
  height: 100vh;
}
.slides__slide {
  text-align: center;
  font-size: 2.4rem;
  color: white;
  background-position: center;
  background-size: cover;
}
.slides__slide-1 {
  background-image: url("../images/slides/slide-1.jpg");
}
.slides__slide-2 {
  background-image: url("../images/slides/slide-2.jpg");
}
.slides__slide-3 {
  background-image: url("../images/slides/slide-3.jpg");
}
.slides__slide-4 {
  background-image: url("../images/slides/slide-4.jpg");
}
.slides__overlay {
  background-color: rgba(52, 49, 45, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(black 33%, transparent 33%);
  background-size: 3px 3px;
}
.slides__pagination {
  height: 23vh;
}

.swiper-pagination-bullet {
  border: 1px solid white;
  width: 0.75rem;
  height: 0.75rem;
  background-color: #e2554b;
}

.swiper-pagination-bullet-active {
  background-color: #e2554b;
}

/*--------------------------------------------------------------*\
  #presentation
\*--------------------------------------------------------------*/
/**
 * 1. C'est une correction de line height. Les line-height du titre et du texte sont différents
 *    ce qui crée un décallage entre ces derniers. Le margin-top est venu résoudre ce décallage
 */
.presentation {
  max-width: 71.875em;
  margin: auto;
  padding: 2.875rem 1.25rem 2.875rem;
  text-align: center;
}
.presentation__title {
  font-weight: 500;
  margin-bottom: 0.938rem;
}
@media screen and (min-width: 40em) {
  .presentation {
    display: flex;
    justify-content: space-between;
    text-align: initial;
  }
  .presentation__title {
    text-align: end;
    width: 31.707%;
    margin-top: -0.813rem;
    /* [1] */
  }
  .presentation__text {
    width: 65.853%;
  }
}

/*--------------------------------------------------------------*\
  #Why us
\*--------------------------------------------------------------*/
.whyUs {
  background-color: #fafafa;
}
.whyUs__center {
  max-width: 71.875em;
  margin: auto;
  padding: 6.25rem 1.25rem 6.25rem;
  text-align: center;
}
.whyUs__icon {
  width: auto;
}
.whyUs__item:not(:last-child) {
  margin-bottom: 3.125rem;
}
.whyUs__item-tilte {
  font-weight: 600;
  margin: 0.625rem 0;
}
@media screen and (min-width: 40em) {
  .whyUs__center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 3.125rem;
  }
  .whyUs__item {
    flex: 0 1 calc(100% / 2 - 0.625rem);
  }
}
@media screen and (min-width: 65em) {
  .whyUs__item {
    flex: 0 1 calc(100% / 4 - 1.25rem);
  }
}

/*--------------------------------------------------------------*\
  #properties
\*--------------------------------------------------------------*/
/** 
 * 1. Le bouton est inline-block le text align de son parent permet de le centrer
 */
.properties {
  background-color: whitesmoke;
}
.properties__center {
  max-width: 71.875em;
  margin: auto;
  padding: 4rem 1.25rem 3rem;
  text-align: center;
  /* [1] */
}
.properties__underline {
  width: 3.125rem;
  height: 0.156rem;
  background-color: #e2554b;
  display: inline-block;
  margin-top: 0.313rem;
  margin-bottom: 2.813rem;
}
.properties__items {
  margin-top: 4.563rem;
  margin-bottom: 3.438rem;
}
.properties__item {
  border: 1px solid #e6e6e6;
  margin-bottom: 1.25rem;
  overflow: hidden;
}
.properties__img {
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
.properties__img:hover {
  transform: scale(1.05);
}
.properties__infos {
  border: 1px solid #e6e6e6;
}
.properties__infos-title {
  font-weight: 600;
}
.properties__price {
  font-size: 1.313rem;
  color: #e2554b;
  display: block;
  padding-bottom: 1rem;
}
.properties__area-infos {
  padding: 0.938rem 0.125rem;
}
.properties__btn {
  padding: 0.5rem 1.125rem;
  font-size: 0.875rem;
  display: inline-block;
  color: white;
  background-color: #e2554b;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0.313rem;
  letter-spacing: 0.1rem;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
.properties__btn:hover {
  background-color: #3d3d3d;
}
@media screen and (min-width: 40em) {
  .properties__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .properties__item {
    flex: 0 1 calc(100% / 2 - 0.625rem);
  }
}
@media screen and (min-width: 65em) {
  .properties__item {
    flex: 0 1 calc(100% / 3 - 1.25rem);
  }
}

/*--------------------------------------------------------------*\
  #Our agents
\*--------------------------------------------------------------*/
.ourAgents {
  max-width: 71.875em;
  margin: auto;
  padding: 3rem 1.25rem 0;
  text-align: center;
}
.ourAgents__swiper {
  padding-bottom: 3rem;
  max-width: 37.5rem;
}
.ourAgents__underline {
  width: 3.125rem;
  height: 0.156rem;
  background-color: #e2554b;
  display: inline-block;
  margin-top: 0.313rem;
  margin-bottom: 2.813rem;
}
.ourAgents__img-container {
  max-width: 12.5rem;
  max-height: 13.75rem;
  margin: auto;
}
.ourAgents__name {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
.ourAgents__tel {
  margin: 1rem 0;
}
.ourAgents__icon-tel {
  width: 0.875rem;
  height: 0.875rem;
  margin-right: 0.813rem;
}
.ourAgents__number-tel {
  color: #3d3d3d;
  font-weight: bold;
}
.ourAgents__icon-mail {
  width: 0.875rem;
  height: 0.875rem;
  margin-right: 0.813rem;
}
.ourAgents__mail {
  color: #e2554b;
}

/*--------------------------------------------------------------*\
  #Call to action
\*--------------------------------------------------------------*/
/**
 * 1. Le bouton est inline-block le text align de son parent permet de le centrer
 */
.call-to-action {
  background-color: whitesmoke;
}
.call-to-action__center {
  max-width: 71.875em;
  margin: auto;
  padding: 3.375rem 1.25rem 3rem;
  text-align: center;
  /* [1] */
}
.call-to-action__text {
  font-size: 1.875rem;
  margin-bottom: 0.938rem;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
}
.call-to-action__bold {
  font-weight: 500;
}
.call-to-action__btn {
  padding: 0.5rem 1.125rem;
  font-size: 0.875rem;
  display: inline-block;
  color: white;
  background-color: #e2554b;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0.313rem;
  letter-spacing: 0.1rem;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
.call-to-action__btn:hover {
  background-color: #3d3d3d;
}
@media screen and (min-width: 65em) {
  .call-to-action__center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .call-to-action__text {
    margin-bottom: initial;
  }
  .call-to-action__btn {
    margin: initial;
  }
}

/*--------------------------------------------------------------*\
  #Testimonials
\*--------------------------------------------------------------*/
.testimonials {
  position: relative;
  text-align: center;
  color: white;
}
.testimonials__header {
  position: absolute;
  z-index: 2;
  top: -0.375rem;
  left: 50%;
  transform: translateX(-50%);
}
.testimonials__underline {
  width: 3.125rem;
  height: 0.156rem;
  background-color: #e2554b;
  display: inline-block;
  margin-top: 0.313rem;
  margin-bottom: 2.813rem;
}
.testimonials__center {
  width: 100%;
  height: 60vh;
}
.testimonials__slide {
  font-family: "Raleway", sans-serif;
  background-position: center;
  background-size: cover;
}
.testimonials__slide-1 {
  background-image: url("../images/slides/testimonial-1.jpg");
}
.testimonials__slide-2 {
  background-image: url("../images/slides/testimonial-2.jpg");
}
.testimonials__slide-3 {
  background-image: url("../images/slides/testimonial-3.jpg");
}
.testimonials__slide-4 {
  background-image: url("../images/slides/testimonial-4.jpg");
}
.testimonials__overlay {
  background-color: rgba(52, 49, 45, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonials__text {
  max-width: 80vw;
  font-size: 0.875rem;
  margin-top: 1.25rem;
  font-weight: bold;
}
.testimonials__name {
  color: #e2554b;
  font-size: 1.125rem;
  display: block;
  margin-top: 1.25rem;
}
.testimonials__button-next, .testimonials__button-prev {
  color: #e2554b;
}
@media screen and (min-width: 40em) {
  .testimonials__header {
    top: 0.938rem;
  }
  .testimonials__text {
    font-size: 1.125rem;
  }
}
@media screen and (min-width: 65em) {
  .testimonials__text {
    max-width: 43.75rem;
  }
}

/*--------------------------------------------------------------*\
  #Our partners 
\*--------------------------------------------------------------*/
.partners {
  max-width: 71.875em;
  margin: auto;
  padding: 4rem 1.25rem 3rem;
  text-align: center;
}
.partners__underline {
  width: 3.125rem;
  height: 0.156rem;
  background-color: #e2554b;
  display: inline-block;
  margin-top: 0.313rem;
  margin-bottom: 2.813rem;
}
.partners__content-logo {
  max-width: 10rem;
  margin: auto;
  margin-bottom: 1.875rem;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
.partners__content-logo:hover {
  filter: contrast(200%);
  opacity: 0.5;
}
@media screen and (min-width: 40em) {
  .partners__center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .partners__content-logo {
    flex: 0 1 calc(25% - 1.25rem);
    padding: 0;
  }
}

/*--------------------------------------------------------------*\
  #Entry
\*--------------------------------------------------------------*/
.entry {
  max-width: 71.875em;
  margin: auto;
  padding: 4rem 1.25rem 3rem;
}
.entry__title {
  margin-bottom: 2.313rem;
}
.entry span {
  font-weight: 200;
}
.entry__img {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 65em) {
  .entry__content {
    display: flex;
    justify-content: space-between;
  }
  .entry__img {
    flex: 0 1 calc(50% - 0.875rem);
  }
  .entry__text {
    flex: 0 1 calc(50% - 0.875rem);
  }
}

/*--------------------------------------------------------------*\
  #About us
\*--------------------------------------------------------------*/
.aboutUs {
  background-color: #303030;
  color: white;
}
.aboutUs__center {
  max-width: 71.875em;
  margin: auto;
  padding: 4rem 1.25rem 3rem;
  text-align: center;
}
.aboutUs__title {
  font-weight: 500;
}
.aboutUs__text-header {
  margin-top: 1.25rem;
  margin-bottom: 5rem;
}
.aboutUs__icon {
  width: auto;
}
.aboutUs__item:not(:last-child) {
  margin-bottom: 2.125rem;
}
.aboutUs__item-title {
  font-weight: 500;
  margin: 0.625rem 0;
}
.aboutUs__text {
  color: #ababab;
}
@media screen and (min-width: 40em) {
  .aboutUs__center {
    text-align: initial;
  }
  .aboutUs__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .aboutUs__item {
    flex: 0 1 calc(100% / 2 - 0.625rem);
  }
}
@media screen and (min-width: 65em) {
  .aboutUs__center {
    display: flex;
    justify-content: space-between;
  }
  .aboutUs__header {
    margin-top: 3.75rem;
    flex: 0 1 calc(38.707% - 1.25rem);
    text-align: end;
  }
  .aboutUs__content {
    flex: 0 1 calc(59.853% - 1.25rem);
  }
}

/*--------------------------------------------------------------*\
  #Team
\*--------------------------------------------------------------*/
.team {
  max-width: 71.875em;
  margin: auto;
  padding: 4rem 1.25rem 3rem;
}
.team span {
  font-weight: 200;
}
.team__title {
  margin-bottom: 1.25rem;
}
.team__content {
  margin: auto;
}
.team__item {
  border: 1px solid #e6e6e6;
  text-align: center;
  margin-bottom: 1.25rem;
}
.team__infos {
  padding-bottom: 0.625rem;
}
.team__name {
  color: #e2554b;
  font-weight: 500;
}
.team__job {
  margin-bottom: initial;
  font-weight: 500;
}
@media screen and (min-width: 40em) {
  .team__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .team__item {
    flex: 0 0 calc(100% / 2 - 0.625rem);
  }
}
@media screen and (min-width: 65em) {
  .team__item {
    flex: 0 1 calc(100% / 4 - 1.25rem);
  }
}

/*--------------------------------------------------------------*\
  #Call to action
\*--------------------------------------------------------------*/
.subscribe {
  background-color: whitesmoke;
}
.subscribe__content {
  max-width: 71.875em;
  margin: auto;
  padding: 3.375rem 1.25rem 3rem;
  text-align: center;
}
.subscribe__text {
  font-size: 1.875rem;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
}
.subscribe__bold {
  font-weight: 500;
}
.subscribe__input-content {
  max-width: 21.75rem;
  margin: 1.25rem auto;
}
.subscribe__input {
  padding: 0.5rem 0.313rem;
  width: 100%;
  border: 1px solid #e6e6e6;
}
.subscribe__submit {
  padding: 0.5rem 1.125rem;
  font-size: 0.875rem;
  display: inline-block;
  color: white;
  background-color: #e2554b;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0.313rem;
  letter-spacing: 0.1rem;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  border: 0;
}
.subscribe__submit:hover {
  background-color: #3d3d3d;
}
@media screen and (min-width: 65em) {
  .subscribe__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .subscribe__text {
    margin-bottom: initial;
  }
  .subscribe__form {
    display: flex;
  }
  .subscribe__input-content {
    margin-right: 1.25rem;
    margin-top: initial;
    margin-bottom: initial;
    width: 21.75rem;
  }
}

.blog {
  max-width: 71.875em;
  margin: auto;
  padding: 4rem 1.25rem 3rem;
}
.blog__btn {
  padding: 0.5rem 1.125rem;
  font-size: 0.875rem;
  display: inline-block;
  color: white;
  background-color: #e2554b;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0.313rem;
  letter-spacing: 0.1rem;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  margin-top: 1.25rem;
}
.blog__btn:hover {
  background-color: #3d3d3d;
}
@media screen and (min-width: 65em) {
  .blog {
    display: flex;
    justify-content: space-between;
  }
}
.blog__content {
  flex: 0 1 calc(60% - 1.25rem);
}

.contact {
  max-width: 71.875em;
  margin: auto;
  padding: 4rem 1.25rem 3rem;
}
.contact__title {
  margin-bottom: 1.25rem;
  font-weight: 600;
}
.contact__address {
  font-weight: 500;
  text-transform: uppercase;
}
.contact__link {
  color: #e2554b;
}
@media screen and (min-width: 40em) {
  .contact__block {
    display: flex;
    justify-content: space-between;
  }
  .contact__block-text {
    flex: 0 1 calc(40% - 1.563rem);
  }
  .contact__form {
    flex: 0 1 calc(60% - 1.563rem);
  }
}
@media screen and (min-width: 65em) {
  .contact__form-input {
    display: flex;
    justify-content: space-between;
  }
  .contact__form-field {
    flex: 0 1 calc(50% - 1rem);
  }
}

/*------------------------------------*\
  #map
\*------------------------------------*/
.contact__map {
  margin: 2.313rem 0;
}
.contact__map-responsive {
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  height: 0;
}
.contact__map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
@media screen and (min-width: 40em) {
  .contact__map-responsive {
    padding-bottom: 30%;
  }
}
@media screen and (min-width: 65em) {
  .contact__map-responsive {
    padding-bottom: 20%;
  }
}

.catalog {
  max-width: 71.875em;
  margin: auto;
  padding: 4rem 1.25rem 3rem;
  text-align: center;
}
.catalog span {
  font-weight: 200;
}
.catalog__underline {
  width: 3.125rem;
  height: 0.156rem;
  background-color: #e2554b;
  display: inline-block;
  margin-top: 0.313rem;
  margin-bottom: 2.813rem;
}
.catalog__filter-btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2.5rem;
  margin-bottom: 3.75rem;
}
.catalog__filter-btn {
  text-transform: uppercase;
  margin: 0.5rem;
  border: 0;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 0.875rem;
  padding: 0.5rem 1.125rem;
  letter-spacing: 0.1rem;
}
.catalog__filter-btn:hover {
  padding: 0.5rem 1.125rem;
  font-size: 0.875rem;
  display: inline-block;
  color: white;
  background-color: #e2554b;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0.313rem;
  letter-spacing: 0.1rem;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
.catalog__filter-btn:hover:hover {
  background-color: #e2554b;
}
.catalog__js-active-filter-btn {
  padding: 0.5rem 1.125rem;
  font-size: 0.875rem;
  display: inline-block;
  color: white;
  background-color: #e2554b;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0.313rem;
  letter-spacing: 0.1rem;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
.catalog__js-active-filter-btn:hover {
  background-color: #e2554b;
}
.catalog__items {
  margin-top: 4.563rem;
  margin-bottom: 3.438rem;
}
.catalog__item {
  border: 1px solid #e6e6e6;
  margin-bottom: 1.25rem;
  text-align: center;
  overflow: hidden;
}
.catalog__img {
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
.catalog__img:hover {
  transform: scale(1.05);
}
.catalog__infos {
  border-bottom: 1px solid #e6e6e6;
}
.catalog__infos-title {
  font-weight: 600;
}
.catalog__price {
  font-size: 1.313rem;
  color: #e2554b;
  display: block;
  padding-bottom: 1rem;
}
.catalog__area-infos {
  padding: 0.938rem 0.125rem;
}
.catalog__btn {
  padding: 0.5rem 1.125rem;
  font-size: 0.875rem;
  display: inline-block;
  color: white;
  background-color: #e2554b;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0.313rem;
  letter-spacing: 0.1rem;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  margin: auto;
}
.catalog__btn:hover {
  background-color: #3d3d3d;
}
@media screen and (min-width: 40em) {
  .catalog__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .catalog__item {
    flex: 0 1 calc(100% / 2 - 0.625rem);
  }
}
@media screen and (min-width: 65em) {
  .catalog__item {
    flex: 0 1 calc(100% / 3 - 1.25rem);
  }
}

.blog-single {
  max-width: 71.875em;
  margin: auto;
  padding: 4rem 1.25rem 3rem;
}
.blog-single__list {
  list-style: inside;
  margin-bottom: 1.25rem;
}
.blog-single__form {
  max-width: 40.375rem;
}
.blog-single__comments {
  margin-top: 3.125rem;
}
.blog-single__comment {
  margin-bottom: 1.875rem;
}
.blog-single__form-field {
  max-width: 20.188rem;
}
.blog-single__commentator-info {
  display: flex;
  margin-bottom: 0.938rem;
}
.blog-single__answer {
  margin-left: 1.875rem;
}
.blog-single__img {
  margin-right: 1.25rem;
  max-width: 4.375rem;
  border-radius: 50%;
  object-fit: cover;
}
.blog-single__replay {
  color: #ababab;
  margin-right: 0.625rem;
  font-size: 0.875rem;
}
.blog-single__replay:hover {
  color: #e2554b;
}
.blog-single__time {
  color: #ababab;
}
.blog-single__text {
  padding-left: 0.625rem;
}
@media screen and (min-width: 65em) {
  .blog-single {
    display: flex;
    justify-content: space-between;
  }
  .blog-single__article {
    flex: 0 1 calc(60% - 1.25rem);
  }
}

/*# sourceMappingURL=style.css.map */
