.contact {
    @include layout-container;
    &__title {
        margin-bottom: 1.25rem;
        font-weight: 500;
    }
    &__address {
        font-weight: 500;
        text-transform: uppercase;
    }
    &__link {
        color: $contact-link;
    }
    &__error-message{
        margin-top: -1.188rem;
        margin-bottom: 1.25rem;
    }
    // Media queries
    @include breakpoints(medium) {
        &__block {
            display: flex;
            justify-content: space-between;
        }
        &__block-text {
            flex: 0 1 calc(40% - 1.563rem);
        }
        &__form {
            flex: 0 1 calc(60% - 1.563rem);
        }
    }
    @include breakpoints(large) {
        &__form-input {
            display: flex;
            justify-content: space-between;
        }
        &__form-group {
            flex: 0 1 calc(50% - 1rem);
        }
    }
}


/*------------------------------------*\
  #map
\*------------------------------------*/
.contact__map {
    margin: 2.313rem 0;
    &-responsive {
        overflow: hidden;
        padding-bottom: 50%;
        position: relative;
        height: 0;
    }
    &-responsive iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
    // Media queries
    @include breakpoints(medium) {
        &-responsive {
            padding-bottom: 30%;
        }
    }
    @include breakpoints(large) {
        &-responsive {
            padding-bottom: 20%;
        }
    }
}
