
/**
 * Le font-size par défaut(mobile et destop) est 16px c'est le meme que celui  
 * des navigateurs donc les paragraphes sont de 16px
 */

//  A voir
// $highContrastMode: true;
// @if ($highContrastMode) {
//   body {
//     background: black;
//     color: yellow;
//   }
// } @else {
//   body {
//     background: white;
//     color: gray;
//   }
// }

body{
  font-family: $font-family-base;
  letter-spacing: $letter-spacing-base;
}
h2{
  font-weight: 500;
}
h2 span{
  font-weight: 200;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: $font-family-titles;
}

h1{
  font-size: 1.9rem;
}
h2{
  font-size: 1.8rem;
}
h3{
  font-size: 1.2rem;
}
h4{
  font-size: 1rem;
}
h5{
  font-size: 0.8rem;
}
h6{
  font-size: 0.6rem;
}
