
/**
 * Le font-size par défaut(mobile et destop) est 16px c'est le meme que celui  
 * des navigateurs donc les paragraphes sont de 16px
 */

body{
  font-family: $font-family-base;
  letter-spacing: $letter-spacing-base;
}

h2 span{
  font-weight: 200;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: $font-family-titles;
}

h1{
  font-size: clamp(1.9rem, 5vw, 2.9rem);
  font-weight: 700;
}
h2{
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  font-weight: 700;
}
h3{
  font-size: clamp(1.25rem, 4vw, 1.5rem);
  font-weight: 600;
}
h4{
  font-size: 1rem;
}
h5{
  font-size: 0.8rem;
}
h6{
  font-size: 0.6rem;
}
