// ----------------------------------------------------------------------------
// Noms des couleurs:
// ----------------------------------------------------------------------------
$color-primary: crimson;
$color-primary-light     : lighten($color-primary, 30%);
$color-secondary         : hsl(0, 0%, 24%);
$color-acadia            : hsl(34, 7%, 19%);
$color-nero              : hsl(0, 0%, 15%);
$color-dark-gray         : hsl(0, 0%, 67%);
$color-dim-gray          : hsl(0, 0%, 44%);


$gainsboro               : hsl(0, 0%, 90%); 
$color-white-smoke       : hsl(0, 0%, 96%);
$color-white-smoke-light : hsl(0, 0%, 98%);
$color-white             : hsl(0, 0%, 100%);


// ----------------------------------------------------------------------------
// Noms de couleurs spécifiques aux éléments( nom du sélecteur + la propriété)
// soit color ou bg-color (background-color).
// ----------------------------------------------------------------------------
   

    // Partiel base
    $body-color: $color-secondary;

    // Patiel navigation
    $nav-social-link-color          : $color-primary;
    $nav-social-link-border-color   : $color-white-smoke;
    $nav-main-link-hover-bg-color   : $color-white-smoke;
    $nav-main-link-bg-color         : $color-white-smoke;
    $nav-main-link-active-color     : $color-primary;
    $nav-social-link-hover-bg-color : $color-white-smoke;
    $nav-box-shadow-color           : $color-secondary;

    // Partiel home
        // Section slides
        $slides-color                             : $color-white;
        $swiper-pagination-bullet-border-color    : $color-white;
        $swiper-pagination-bullet-active-bg-color : $color-primary;
        // Section why us
        $whyUs-bg-color: $color-white-smoke-light;
        // section properties
        $properties-bg-color                  : $color-white-smoke;
        $properties-infos-border-bottom-color : $gainsboro;
        $properties-price-color               : $color-primary;
        // Section Our agents
        $our-agents-number-tel-color : $color-secondary;
        $our-agents-mail-color       : $color-primary;
        // Section call to action
        $call-to-action-bg-color : $color-white-smoke;
        // Sectrion testimonials
        $testimonials-color        : $color-white;
        $testimonials-name-color   : $color-primary-light;
     

    // Partiel property (catalog)
    $catalog-filter-btn-bg-color-hover     : $color-primary;
    $catalog-filter-btn-js-active-bg-color : $color-primary;
    $catalog-item-border-color             : $gainsboro;
    $catalog-infos-border-bottom-color     : $gainsboro;
    $catalog-price-color                   : $color-primary;

    //  Partiel nous connaitre
    $aboutUs-bg-color             : $color-nero;
    $aboutUs-color                : $color-white;
    $aboutUs-text-color           : $color-dark-gray;
    $team-item-border-color       : $gainsboro;
    $team-name-color              : $color-primary;
    $subscribe-bg-color           : $color-white-smoke;
    $subscribe-input-border-color : $gainsboro;

    // Partiel blog-single (blog-single-article1, blog-single-article2, blog-single-article3)
    $blog-single-replay-color       : $color-secondary;
    $blog-single-replay-color-hover : $color-primary;
    $blog-single-time-color         : $color-secondary;

    // Partiel contact
    $contact-link: $color-primary;
  
    // Partiel sidebar
    $sidebar-link-color            : $color-secondary;
    $sidebar-link-hover-color      : $color-primary;
    $sidebar-post-link-color       : $color-secondary;
    $sidebar-post-link-hover-color : $color-primary;
    $sidebar-time-color            : $color-dim-gray;
    $sidebar-border-left-color     : $gainsboro;

    // partiel form
    $form-field-border-color: $gainsboro;
  
    // Partiel footer
    $footer-bg-color                   : $color-nero;
    $footer-title-color                : $color-white;
    $footer-title                      : $color-white;
    $footer-logo-bg-color              : $color-white;
    $footer-social-link-color          : $color-white;
    $footer-social-link-bg-color       : $color-secondary;
    $footer-social-link-bg-color-hover : $color-primary;
    $footer-link-color                 : $color-dark-gray;
    $footer-link-hover-color           : $color-white;
    $footer-address-color              : $color-dark-gray;
    $footer-contact-color              : $color-primary-light;
    $footer-contact-hover-color        : $color-white;
 

// ----------------------------------------------------------------------------
// Font families
// ----------------------------------------------------------------------------
$font-family-base   : 'Montserrat', sans-serif; //partiel base
$font-family-titles : 'Raleway', sans-serif; // partiel typographie
$font-family-sans-serif : sans-serif; 

// ----------------------------------------------------------------------------
// Line heights
// ----------------------------------------------------------------------------
$line-height-base: 1.5; //partiel base
$line-height-big-tilte: 1;


// ----------------------------------------------------------------------------
// letter-spacing
// ----------------------------------------------------------------------------
$letter-spacing-base   : 0.058rem; //typographie
$letter-spacing-button : 0.1rem; //mixin btn et partiel property


