/*------------------------------------*\
  #Caroussel swiper
\*------------------------------------*/  
//  A faire en sass après que tout le swiper soit terminé
.banner {
  width: 100%;
  height: 100vh;
  &__slide {     
    text-align: center;
    font-size: 2.4rem;
    /* centre le texte des slides verticalement et horizontalement */
    // display: -webkit-box;
    // display: -ms-flexbox;
    // display: -webkit-flex;
    // display: flex;
    // -webkit-box-pack: center;
    // -ms-flex-pack: center;
    // -webkit-justify-content: center;
    // justify-content: center;
    // -webkit-box-align: center;
    // -ms-flex-align: center;
    // -webkit-align-items: center;
    // align-items: center;
    color: white;
    //Les images couvrent toute la surface de leur conteneur et sont centrées
    background-position: center;
    background-size: cover;   
  }
  &__slide-1{
    background-image: url("../images/slides/slide-1.jpg");
  }
  &__slide-2{
    background-image: url("../images/slides/slide-2.jpg");
  }
  &__slide-3{
    background-image: url("../images/slides/slide-3.jpg");
  }
  &__slide-4{
    background-image: url("../images/slides/slide-4.jpg");
  }
  &__overlay{
    background-color: rgba(52, 49, 45, .3);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__pagination{
    height: 23vh;   
  } 
}
.swiper-pagination-bullet{
  border: 1px solid white;
  width: 12px;
  height: 12px;
  background-color: $color-primary;    
} 
.swiper-pagination-bullet-active{
  background-color: $color-primary;
}

   
/*------------------------------------*\
  #presentation
\*------------------------------------*/  
/**
 * 1. C'est une correction de line height. Les line-height du titre et du texte sont différents
 *    ce qui crée un décallage entre ces derniers. Le margin-top est venu résoudre ce décallage
 */
.presentation{
   @include layout-container($padding-top: 2.875rem, $padding-bottom: 2.875rem);
  text-align: center;
  &__title{
    font-weight: 500;
    margin-bottom: 15px;
  }

  @include breakpoints(small){
    display: flex;
    justify-content: space-between;
    text-align: initial;
    &__title{
     text-align: end;
     width: 31.707%;
     margin-top: -13px; /* [1] */
    }
    &__text{
      width: 65.853%;
    }
  }
}

/*------------------------------------*\
  #Why us
\*------------------------------------*/  

.whyUs{
  background-color:	hsl(0, 0%, 98%);
  &__content{
    @include layout-container($padding-top: 6.25rem, $padding-bottom: 6.25rem);
  }
  &__item{
    text-align: center; 
  }
  &__icon{
    width: auto;
  }
  &__item:not(:last-child){
    margin-bottom: 50px;
  }
  &__item-tilte{
    font-weight: 500;
    margin: 10px 0;
  }

 @include breakpoints (small){
  &__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px 
  }
  &__item{
    flex: 0 1 calc(100%/2 - 0.625rem);    
  }  
 }

 @include breakpoints (medium){
  &__item{
    flex: 0 1 calc(100%/4 - 1.25rem);
  }  
 }
}


/*------------------------------------*\
  #properties
\*------------------------------------*/ 
.properties{
  background-color: $color-white-smoke;
  &__center{
    @include layout-container();
  }
  &__header{
    text-align: center;
  }
  &__title{
    font-weight: 200;
  }
  &__underline{
    @include underline;
  }
  &__content{
    margin-top: 73px;
    margin-bottom: 55px ;
  
  }
  &__item{
    border: 1px solid #e6e6e6;
    margin-bottom: 1.25rem;
    text-align: center;
    overflow: hidden;
  }
  &__img{
    transition: $transition;
    &:hover{
      transform: scale(1.05);
    }
  }
  &__infos{
    border-bottom: 1px solid #e6e6e6;
  }
  &__infos-title{
    font-weight: 500;

  }
  &__price{
    font-size: 16pt;
    color: $color-primary;
    display: block;
    padding-bottom: 1rem;
  }
  &__area-infos{
    padding: 15px 2px;
  }
  &__btn{
    @include btn();
    margin: auto;
  }

  @include breakpoints (small){
    &__content{
      display: flex;   
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__item{
      flex: 0 1 calc(100%/2 - 0.625rem);
    }
  }

  @include breakpoints (medium){

    &__item{
      flex: 0 1 calc(100%/3 - 1.25rem);
    }
  }
} 


/*------------------------------------*\
  #Our agents
\*------------------------------------*/ 
.ourAgents{
    @include layout-container( $padding-top: 3rem, $padding-bottom: 0); 
    text-align: center;
    &__title{
      font-weight: 200;
    }
  &__swiper{
    padding-bottom: 3rem;
    max-width: 600px;
  }
  &__underline{
    @include underline;

  }
  &__img-container{
      width: 100px;
      height: 130px;
      margin: auto;
  }
  &__name{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  &__tel{
    margin: 1rem 0;
  }
  &__icon-tel{
    width: 14px;
    height: 14px;
    margin-right: 13px;
  }
  &__number-tel{
    color: $color-secondary;
    font-weight: bold;
  }
  &__icon-mail{
    width: 14px;
    height: 14px;
    margin-right: 13px;
  }
  &__mail{
    color: $color-primary;
  }

  @include breakpoints(small){    
    &__img-container{
      width: 150px;
      height: 193px;
    }
  }
}


/*------------------------------------*\
  #Call to action
\*------------------------------------*/ 
.call-to-action{
  background-color: $color-white-smoke;
  &__content{
    @include layout-container ($padding-top: 3.375rem, $padding-bottom: 3rem);
  }
  &__text{
    font-size: 1.875rem;
    margin-bottom: 15px;
    font-family: 'Raleway', sans-serif; 
    font-weight: 200;
    text-align: center
  }
  &__bold{
    font-weight: 500;
  }
  &__btn{
    @include btn;
    margin: auto;
  }
  @include breakpoints(medium){
    &__content{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__text{
      margin-bottom: initial;
    }
    &__btn{
      margin: initial;
    }
  }
}


/*------------------------------------*\
  #Testimonials
\*------------------------------------*/ 
.testimonials {
  position: relative;
  text-align: center;
  color: white;  
  &__header{
    position: absolute;
    z-index: 2;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
  }
  &__underline{
    @include underline;
  }
  &__content{
    width: 100%;
    height: 60vh;
  }
  &__slide {     
      font-family: $font-family-titles;
      background-position: center;
      background-size: cover;  
  }
  &__slide-1{
    background-image: url("../images/testimonials/testimonial-1.jpg");
  }
  &__slide-2{
    background-image: url("../images/testimonials/testimonial-2.jpg");
  }
  &__slide-3{
  background-image: url("../images/testimonials/testimonial-3.jpg");
  }
  &__slide-4{
    background-image: url("../images/testimonials/testimonial-4.jpg");
  }
  &__overlay{
    background-color: rgba(52, 49, 45, .5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__text{
    max-width: 80vw;
    font-size: 14px;
    margin-top: 20px;
    font-weight: bold;
  }
  &__name{
    color: red;
    font-size: 18px;

    display: block;
    margin-top: 20px; 
  }
  &__button-next,
  &__button-prev{
    color: $color-primary;
  }
  @include breakpoints(small){   
    &__header{
      top: 15px;
    }
    &__text{   
      font-size: 18px; 
    }
}
  @include breakpoints(medium){   
      &__text{
        max-width: 700px;
      }
  }
}


/*------------------------------------*\
  #Our partners 
\*------------------------------------*/ 
.partners{
  @include layout-container;
  text-align: center;
  &__title{
    font-weight: 200;
  }
  &__underline{
    @include underline ();
  }
  &__content-logo{
    max-width: 160px;
    margin:  auto;
    margin-bottom: 30px;
    transition: $transition;
    &:hover{
      filter: grayscale(100%);
      opacity: 0.5;
    }
  }
  @include breakpoints(small){   
    &__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    &__content-logo{
     flex: 0 1 calc(25% - 1.25rem);
     padding: 0;
    }
  }
}


/*------------------------------------*\
  #Footers
\*------------------------------------*/ 
.footer{
  background-color: $color-night-rider;
  color: white;
  &__center{
    @include layout-container;
  }
  &__logo{
    width: 200px;
    @include space (padding, right, 30px);
  }
  &__social-links{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    max-width: 175px;
 
  }
  &__social-link{
      color: white;
      background: $color-secondary;
      display: block;
      border-radius: 4px;
      width: 36px;
      height: 36px;
      text-align: center;
      transition: $transition;
      @include space (padding, all, 6px);        
    &:hover{
      background-color: $color-primary;
    } 
  }
  &__space{
    margin: 30px 0;
  }
  &__link{
    color: $color-dark-gray;
    display: block;
    padding: 10px 10px 10px 0;
  }
  &__address{
    color: $color-primary;
  }

  @include breakpoints (small){
    &__center{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__block{
      flex: 0 1 calc(50% - 1.25rem);
    }
  }

  @include breakpoints (medium){
    &__block{
      flex: 0 1 calc(25% - 1.25rem);
    }
    &__space{
      margin: initial;
     }
  }

}

