.catalog {
    @include layout-container;
    text-align: center;
    span {
        font-weight: 200;
    }
    &__underline {
        @include underline;
    }
    &__filter-btns {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 2.5rem;
        margin-bottom: 3.75rem;
    }
    &__filter-btn {
        text-transform: uppercase;
        margin: 0.5rem;
        border: 0;
        background-color: transparent;
        font-family: $font-family-titles;
        font-weight: bold;
        font-size: 0.875rem;
        padding: 0.5rem 1.125rem;
        letter-spacing: $letter-spacing-button;
        &:hover {
            @include btn($background-colorHover: $catalog-filter-btn-bg-color-hover);
        }
    }
    &__js-active-filter-btn {
        @include btn( $background-colorHover: $catalog-filter-btn-js-active-bg-color);
    }
    &__items {
        margin-top: 4.563rem;
        margin-bottom: 3.438rem;
    }
    &__item {
        @include border-default($catalog-item-border-color);
        margin-bottom: 1.25rem;
        text-align: center;
        overflow: hidden;
    }
    &__img {
        @include transition;
        &:hover {
            transform: scale(1.05);
        }
    }
    &__infos {
        @include border(bottom, $catalog-infos-border-bottom-color);
    }
    &__infos-title {
        font-weight: 600;
    }
    &__price {
        font-size: 1.313rem;
        color: $catalog-price-color;
        display: block;
        padding-bottom: 1rem;
    }
    &__area-infos {
        padding: 0.938rem 0.125rem;
    }
    &__btn {
        @include btn();
        margin: auto;
    }
    @include breakpoints(medium) {
        &__items {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__item {
            flex: 0 1 calc(100% / 2 - 0.625rem);
        }
    }
    @include breakpoints(large) {
        &__item {
            flex: 0 1 calc(100% / 3 - 1.25rem);
        }
    }
}