.nav {
    position: fixed;
    z-index: 100;
    left: -150%;
    top: 0;
    height: 100%;
    width: 100%;
    @include transition($timing-function: cubic-bezier(0,.77,.99,.23));
    @include box-shadow($nav-box-shadow-color);
    background-color: $color-acadia;
    &__main {
        padding-left: 2rem;
        margin-top: 5rem;
    }
    &__main-link {
        display: block;
        color: $color-white;
        line-height: 3.5;
        font-family: $font-family-titles;
    }
    &__social-links {
        display: flex;
        align-items: center;
        width: 14.063rem;
        margin: auto;
    }
    &__social-link {
        @include social-link;
        color: $nav-social-link-color;
        @include border-default($nav-social-link-border-color);
        @include border-radius(50%);
    }
    &__js-show-nav {
        left: 0%;
    }
    @include breakpoints(large) {
        background-color: initial;
        position: initial;
        display: flex;
        box-shadow: initial;
        &__main {
            display: flex;
            flex-grow: 1;
            justify-content: center;
            padding-left: initial;
            margin-top: initial;
        }
        &__main-link {
            padding-bottom: initial;
            padding: 0 0.625rem;
            font-size: 1.3rem;
            text-align: center;
            white-space: nowrap;
            @include transition;
            &:hover,
            &:focus {
                color: $color-primary;
            }
        }
        &__active-main-link {
            color: $nav-main-link-active-color;
            font-weight: 600;
        }
        &__social-links {
            width: initial;
            margin: initial;
            margin-left: 0.5rem;
        }
        &__social-link:hover,
        &__social-link:focus{
            transform: scale(1.2);
            background-color: $nav-social-link-hover-bg-color;
        }
    }
}
